/* Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar:hover {
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.leftSection, .rightSection {
  display: flex;
  align-items: center;
}

.leftSection {
  flex: 1;
}

.logo {
  margin-right: 16px;
  transition: transform 0.3s ease;
}

.logoImage {
  height: 40px;
  width: 40px;
}

.logo:hover .logoImage {
  transform: rotate(360deg);
}



.centerSection {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.rightSection {
  display: flex;
  align-items: center;
}

.navIcon {
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}

.notificationBadge {
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 4px 6px;
  position: absolute;
  top: -6px;
  right: -10px;
}

.dropdownMenu {
  max-height: 400px;
  overflow-y: auto;
  width: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  top: 100%;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dropdownButton {
  flex: 1;
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdownButton:hover {
  background-color: #f0f2f5;
  color: black;
}

.dropdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.seeAll {
  font-size: 12px;
  color: #007bff;
  text-decoration: none;
}

.seeAll:hover {
  text-decoration: underline;
}

.dropdownItem {
  padding: 10px;
  display: flex;
  align-items: center;
}

.profileImage {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.notificationText {
 
  font-size: 14px;
  color: #333;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    padding: 8px;
  }

  .searchBox {
    display: none;
  }

  .centerSection {
    display: none;
  }

  .navIcon {
    margin-left: 10px;
  }

  .dropdownMenu {
    width: 300px;
    max-width: 400px;
    right: -8px;
  }

  .buttonRow {
    flex-wrap: wrap;
  }

  .dropdownButton {
    flex-basis: calc(60% - 10px);
    margin-bottom: 10px;
  }

  .dropdownItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .profileImage {
    margin-bottom: 10px;
  }

  .notificationText {
    font-size: 10px; /* Adjusted font size for smaller screens */
  }
}
